*{
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}
.gridbox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 12.5%);
}

.form-box{
    grid-column-start: 3;
    grid-row-start: 3;
    width: 300px;
    height: 370px;
    background: #f5f3f4;
    border-radius: 20px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: #073B4C;
    font-size: 36px;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}
.text{
    width: 80%;
    overflow: hidden;
    font-size: 24px;
    padding: 8px 0;
    margin: 8px 30px;
    border-bottom: 1px solid #1687A7;
}

.text input{
    border: none;
    outline: none;
    background:none;
}

.submit-btn{
    width: 60%;
    background-color: gray;
    color: #ffffff;
    font-size: 20px;
    padding: 5px;
    margin: 65px 30px 8px 30px;
    cursor: pointer;
    border-radius: 20px;
    border-color: gray;
}
